.titulo {
  font-size: 2rem;
  color: #3E8ACD;
  margin-right: 15px
}

.logo-titulo {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.nav-bg {
  background-color: #3E8ACD;;
}

.contenedor {
  width: 75rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-right: auto;
  margin-left: auto;
}

.navegacion-principal {
  display: flex;
  flex-direction: column;
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1400px) {
}

.navegacion-principal a {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* ----- CARRUSEL ----- */
.carrusel {
    position: relative;
    width: 100%;
    max-width: 1000px; 
    margin: 40px auto;
    overflow: hidden;
    border-radius: 15px;
}

.carrusel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel-items img {
    width: 100%;
    flex-shrink: 0;
}

/* Botones Carrusel*/
.btn-prev, .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.btn-prev { left: 10px; }
.btn-next { right: 10px; }

.btn-prev:hover, .btn-next:hover {
    background: rgba(0,0,0,0.7);
}

/*imagenes menu*/
.contenedor-info {
    display: flex;
    max-width: 1100px;
    margin: 50px auto;
    background: white;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.15);
}

.info-imagen {
    width: 50%;
}

.info-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-texto {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado vertical */
    text-align: left;        
}

.info-texto h2 {
    margin-bottom: 15px;
    font-size: 2rem;
}

.info-texto p {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* -----Pie de pagina----- */
.footer {
    background-color: #3E8ACD;
    color: white;
    padding-top: 5px;
    margin-top: 30px;
}

.footer-contenedor {
    display: flex;
    justify-content: left;  
    max-width: 1200px;
    margin: auto;
}

.footer-columna {
    width: 300px;
}

.footer-columna h3 {
    font-size: 1.3rem;
}

.footer-columna p {
    color: #dcdcdc;
}

/*----------------Servicios---------------*/
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

main {
    /*max-width: 1200px;*/
    margin: 40px auto;
    padding: 0 20px;
}

.contenedor-servicios {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
}

.servicio {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
    padding: 30px 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.servicio:hover {
    transform: translateY(-8px); /*"animacion entre muchas comillas"*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* ------ ICONO ------ */
.servicio-icono {
    width: 70px; 
    height: 70px;
    background-color: #e3f2fd;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px auto;
    overflow: hidden; 
}

.servicio-icono img {
    width: 60%; 
    height: 60%;
}

.servicio-titulo {
    color: #3E8ACD; 
    font-size: 1.3rem;
    font-weight: 700;
}

.servicio-descripcion {
    color: black;
    font-size: 0.95rem;
}

.main-content {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

/*------Formulario-------*/
.formulario {
    background: #ffffff;
    width: 100%;
    max-width: 750px;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0px 8px 30px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

legend {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.campo label {
    font-weight: 600;
    margin-bottom: 6px;
    color: #222;
}

.campo input,
.campo select,
.campo textarea {
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #e5e5e5;
    background: #fafafa;
    font-size: 1rem;
    transition: 0.3s ease;
}

textarea {
    resize: vertical;
    min-height: 110px;
}

.boton-agendar {
    background: #4caf50;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
}

.boton-agendar:hover {
    transform: translateY(-2px);
}
